In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [6]:
nosnow = pd.read_csv("kanazawa_nosnow.csv",header=None)
print(nosnow.shape)
nosnow

(22, 1)

        0
0   2290E
1    552E
2   3502E
3   9536E
4    554E
5   2292E
6   3506E
7   3508E
8    560E
9    564E
10   566E
11   568E
12  8528E
13  8530E
14  3510E
15   572E
16  8532E
17  3512E
18  3514E
19  3516E
20   728E
21   734E

In [11]:
ofs = pd.read_csv("out_of_service.csv",header=None,encoding="shift-jis")
print(ofs.shape)
ofs

(25, 7)

,0,1,2,3,4,5,6
0,年月日,停車時刻,停車駅名,フェンダー部分(東京方向),台車部分,フェンダー部分(金沢方向),合計
1,2016-01-19,06:41:00,糸魚川,0.0,0.0,0.0,0.0
2,2016-01-19,19:33:00,糸魚川,0.0,0.0,0.004300465,0.004300465
3,2016-01-19,20:21:00,糸魚川,0.0,0.012064606000000007,0.0037208940000000006,0.015785500000000008
4,2016-01-19,21:42:00,糸魚川,0.0,0.0,0.002073717,0.002073717
5,2016-01-20,05:00:00,富山,0.0,0.0,0.001652971,0.001652971
6,2016-01-20,20:37:00,富山,0.0,0.0,0.0,0.0
7,2016-01-21,10:06:00,富山,0.0,0.0,0.0009915119999999995,0.0009915119999999995
8,2016-01-23,22:41:00,富山,0.0,0.0,0.00039397600000000015,0.00039397600000000015
9,2016-01-23,12:31:00,富山,0.0,0.0,0.0,0.0
10,2016-01-24,22:42:00,富山,0.007701565,0.011994496999999998,0.003500907000000001,0.023196969000000008
11,2016-01-24,07:42:00,糸魚川,0.0,0.005895376999999999,0.003830763,0.00972614
12,2016-01-24,17:20:00,糸魚川,0.0,0.0,0.0,0.0
13,2016-01-24,16:34:00,糸魚川,0.0,0.0,0.0,0.0
14,2016-01-24,15:32:00,糸魚川,0.0,0.0,0.0,0.0
15,2016-01-24,09:25:00,糸魚川,0.0,0.0019954230000000005,0.0009450629999999996,0.0029404860000000013
16,2016-01-24,08:29:00,糸魚川,0.0,0.004895000000000001,0.0051600859999999995,0.010055086
17,2016-01-24,08:02:00,糸魚川,0.0,0.008243159000000003,0.00310314,0.011346298999999999
18,2016-01-24,06:42:00,糸魚川,0.0,0.004402054,0.0021364040000000006,0.0065384580000000005
19,2016-01-25,10:54:00,糸魚川,0.0,0.0072979699999999965,0.002406716,0.009704685999999995
20,2016-01-25,09:25:00,糸魚川,4.7764e-05,0.002732233000000002,0.003908034000000001,0.0066880310000000005
21,2016-01-25,08:30:00,糸魚川,0.00022099,0.0049315300000000025,0.005368753,0.010521273000000001
22,2016-01-25,08:00:00,糸魚川,0.000135564,0.005392527999999995,0.0026080680000000003,0.008136159999999995
23,2016-01-25,07:42:00,糸魚川,0.002261714,0.01700608200000001,0.00012193700000000001,0.019389733
24,2016-01-25,06:42:00,糸魚川,0.0025354400000000012,0.009358490999999998,0.007220464000000002,0.01911439499999999

↑なんで列車名ないの

In [19]:
train = pd.read_csv("train.csv",encoding="shift-jis")
print(train.shape)
train.head()

(15315, 7)

          年月日   列車番号 停車駅名  フェンダー部分(東京方向)  台車部分  フェンダー部分(金沢方向)        合計
0  2016-01-19  3500E   富山            0.0   0.0       0.000000  0.000000
1  2016-01-19   562E   富山            0.0   0.0       0.000000  0.000000
2  2016-01-19   560E  糸魚川            0.0   0.0       0.000000  0.000000
3  2016-01-19   560E   富山            0.0   0.0       0.002986  0.002986
4  2016-01-19   558E  糸魚川            0.0   0.0       0.000000  0.000000

## 列車番号について

In [22]:
#重複なしのtrainに含まれる列車番号
set(train["列車番号"])

{'3500E',
 '3502E',
 '3504E',
 '3506E',
 '3508E',
 '3510E',
 '3512E',
 '3514E',
 '3516E',
 '3518E',
 '552E',
 '554E',
 '556E',
 '558E',
 '560E',
 '562E',
 '564E',
 '566E',
 '568E',
 '570E',
 '572E',
 '574E',
 '576E',
 '578E',
 '590E',
 '8528E',
 '8530E',
 '8532E',
 '9536E'}

In [24]:
set(nosnow[0])

{'2290E',
 '2292E',
 '3502E',
 '3506E',
 '3508E',
 '3510E',
 '3512E',
 '3514E',
 '3516E',
 '552E',
 '554E',
 '560E',
 '564E',
 '566E',
 '568E',
 '572E',
 '728E',
 '734E',
 '8528E',
 '8530E',
 '8532E',
 '9536E'}

In [26]:
print("trainに含まれる列車番号中でnosnowにないもの")
print(set(train["列車番号"]) - set(nosnow[0]))
print("trainにもnosnowにも含まれるもの")
print(set(train["列車番号"]) & set(nosnow[0]))

trainに含まれる列車番号中でnosnowにないもの
{'3504E', '576E', '590E', '574E', '3500E', '578E', '562E', '570E', '3518E', '558E', '556E'}
trainにもnosnowにも含まれるもの
{'8528E', '8530E', '3506E', '3512E', '3510E', '552E', '568E', '572E', '3514E', '560E', '3502E', '3516E', '564E', '3508E', '566E', '554E', '9536E', '8532E'}

以上の二つを区別する特徴量をつくる必要があると思われる

## trainデータ外観

In [34]:
train_itoigawa = train.loc[train["停車駅名"] =="糸魚川",:]
print(train_itoigawa.shape)
train_itoigawa.head(30)

(5223, 7)

           年月日  列車番号 停車駅名  フェンダー部分(東京方向)  台車部分  フェンダー部分(金沢方向)        合計
2   2016-01-19  560E  糸魚川            0.0   0.0       0.000000  0.000000
4   2016-01-19  558E  糸魚川            0.0   0.0       0.000000  0.000000
6   2016-01-19  556E  糸魚川            0.0   0.0       0.000000  0.000000
8   2016-01-19  554E  糸魚川            0.0   0.0       0.000000  0.000000
9   2016-01-19  562E  糸魚川            0.0   0.0       0.000000  0.000000
19  2016-01-19  552E  糸魚川            0.0   0.0       0.000000  0.000000
26  2016-01-19  590E  糸魚川            0.0   0.0       0.001444  0.001444
28  2016-01-19  578E  糸魚川            0.0   0.0       0.001211  0.001211
30  2016-01-19  576E  糸魚川            0.0   0.0       0.001958  0.001958
31  2016-01-19  564E  糸魚川            0.0   0.0       0.001394  0.001394
34  2016-01-19  572E  糸魚川            0.0   0.0       0.001405  0.001405
36  2016-01-19  570E  糸魚川            0.0   0.0       0.000000  0.000000
38  2016-01-19  568E  糸魚川            0.0   0.0       0.001287  0.001287
40  2016-01-19  566E  糸魚川            0.0   0.0       0.000000  0.000000
41  2016-01-19  574E  糸魚川            0.0   0.0       0.002556  0.002556
45  2016-01-20  562E  糸魚川            0.0   0.0       0.000000  0.000000
46  2016-01-20  564E  糸魚川            0.0   0.0       0.000000  0.000000
48  2016-01-20  566E  糸魚川            0.0   0.0       0.000000  0.000000
50  2016-01-20  568E  糸魚川            0.0   0.0       0.000000  0.000000
53  2016-01-20  570E  糸魚川            0.0   0.0       0.000000  0.000000
54  2016-01-20  572E  糸魚川            0.0   0.0       0.000000  0.000000
56  2016-01-20  574E  糸魚川            0.0   0.0       0.000000  0.000000
58  2016-01-20  576E  糸魚川            0.0   0.0       0.000000  0.000000
60  2016-01-20  578E  糸魚川            0.0   0.0       0.000000  0.000000
64  2016-01-20  560E  糸魚川            0.0   0.0       0.000000  0.000000
75  2016-01-20  554E  糸魚川            0.0   0.0       0.000000  0.000000
77  2016-01-20  556E  糸魚川            0.0   0.0       0.000000  0.000000
79  2016-01-20  558E  糸魚川            0.0   0.0       0.000000  0.000000
81  2016-01-20  552E  糸魚川            0.0   0.0       0.000000  0.000000
82  2016-01-20  590E  糸魚川            0.0   0.0       0.000000  0.000000

In [33]:
#日ごとのデータ数
train_itoigawa.groupby(["年月日"]).count()

            列車番号  停車駅名  フェンダー部分(東京方向)  台車部分  フェンダー部分(金沢方向)  合計
年月日
2016-01-19    15    15             15    15             15  15
2016-01-20    15    15             15    15             15  15
2016-01-21    15    15             15    15             15  15
2016-01-22    15    15             15    15             15  15
2016-01-23    15    15             15    15             15  15
2016-01-24    15    15             15    15             15  15
2016-01-25    15    15             15    15             15  15
2016-01-26    15    15             15    15             15  15
2016-01-27    15    15             15    15             15  15
2016-01-28    15    15             15    15             15  15
2016-01-29    15    15             15    15             15  15
2016-01-30    15    15             15    15             15  15
2016-01-31    15    15             15    15             15  15
2016-02-01    15    15             15    15             15  15
2016-02-02    15    15             15    15             15  15
2016-02-03    15    15             15    15             15  15
2016-02-04    15    15             15    15             15  15
2016-02-05    15    15             15    15             15  15
2016-02-06    15    15             15    15             15  15
2016-02-07    15    15             15    15             15  15
2016-02-08    15    15             15    15             15  15
2016-02-09    15    15             15    15             15  15
2016-02-10    15    15             15    15             15  15
2016-02-11    15    15             15    15             15  15
2016-02-12    15    15             15    15             15  15
2016-02-13    15    15             15    15             15  15
2016-02-14    15    15             15    15             15  15
2016-02-15    15    15             15    15             15  15
2016-02-16    15    15             15    15             15  15
2016-02-17    15    15             15    15             15  15
...          ...   ...            ...   ...            ...  ..
2016-12-02    15    15             15    15             15  15
2016-12-03    15    15             15    15             15  15
2016-12-04    15    15             15    15             15  15
2016-12-05    15    15             15    15             15  15
2016-12-06    15    15             15    15             15  15
2016-12-07    15    15             15    15             15  15
2016-12-08    15    15             15    15             15  15
2016-12-09    15    15             15    15             15  15
2016-12-10    15    15             15    15             15  15
2016-12-11    15    15             15    15             15  15
2016-12-12    15    15             15    15             15  15
2016-12-13    15    15             15    15             15  15
2016-12-14    15    15             15    15             15  15
2016-12-15    15    15             15    15             15  15
2016-12-16    18    18             18    18             18  18
2016-12-17    15    15             15    15             15  15
2016-12-18    15    15             15    15             15  15
2016-12-19    15    15             15    15             15  15
2016-12-20    15    15             15    15             15  15
2016-12-21    15    15             15    15             15  15
2016-12-22    15    15             15    15             15  15
2016-12-23    15    15             15    15             15  15
2016-12-24    15    15             15    15             15  15
2016-12-25    15    15             15    15             15  15
2016-12-26    15    15             15    15             15  15
2016-12-27    15    15             15    15             15  15
2016-12-28    15    15             15    15             15  15
2016-12-29    15    15             15    15             15  15
2016-12-30    15    15             15    15             15  15
2016-12-31    15    15             15    15             15  15

[348 rows x 6 columns]

In [35]:
#列車ごとのデータ数
train_itoigawa.groupby(["列車番号"]).count()

       年月日  停車駅名  フェンダー部分(東京方向)  台車部分  フェンダー部分(金沢方向)   合計
列車番号
3500E    1     1              1     1              1    1
3502E    1     1              1     1              1    1
552E   348   348            348   348            348  348
554E   348   348            348   348            348  348
556E   348   348            348   348            348  348
558E   348   348            348   348            348  348
560E   348   348            348   348            348  348
562E   348   348            348   348            348  348
564E   348   348            348   348            348  348
566E   348   348            348   348            348  348
568E   348   348            348   348            348  348
570E   348   348            348   348            348  348
572E   348   348            348   348            348  348
574E   348   348            348   348            348  348
576E   348   348            348   348            348  348
578E   348   348            348   348            348  348
590E   348   348            348   348            348  348
9536E    1     1              1     1              1    1

In [37]:
train_toyama = train.loc[train["停車駅名"] =="富山",:]
print(train_toyama.shape)
train_toyama.head(30)

(10092, 7)

           年月日   列車番号 停車駅名  フェンダー部分(東京方向)  台車部分  フェンダー部分(金沢方向)        合計
0   2016-01-19  3500E   富山            0.0   0.0       0.000000  0.000000
1   2016-01-19   562E   富山            0.0   0.0       0.000000  0.000000
3   2016-01-19   560E   富山            0.0   0.0       0.002986  0.002986
5   2016-01-19   558E   富山            0.0   0.0       0.002328  0.002328
7   2016-01-19   556E   富山            0.0   0.0       0.000000  0.000000
10  2016-01-19   554E   富山            0.0   0.0       0.000000  0.000000
11  2016-01-19   552E   富山            0.0   0.0       0.000000  0.000000
12  2016-01-19  3518E   富山            0.0   0.0       0.001368  0.001368
13  2016-01-19  3516E   富山            0.0   0.0       0.002955  0.002955
14  2016-01-19  3514E   富山            0.0   0.0       0.000631  0.000631
15  2016-01-19  3512E   富山            0.0   0.0       0.001450  0.001450
16  2016-01-19  3510E   富山            0.0   0.0       0.001871  0.001871
17  2016-01-19  3508E   富山            0.0   0.0       0.002253  0.002253
18  2016-01-19  3506E   富山            0.0   0.0       0.000000  0.000000
20  2016-01-19  3504E   富山            0.0   0.0       0.000000  0.000000
21  2016-01-19   564E   富山            0.0   0.0       0.000949  0.000949
22  2016-01-19   566E   富山            0.0   0.0       0.000329  0.000329
23  2016-01-19  8532E   富山            0.0   0.0       0.000000  0.000000
24  2016-01-19  8530E   富山            0.0   0.0       0.000000  0.000000
25  2016-01-19  8528E   富山            0.0   0.0       0.002208  0.002208
27  2016-01-19   590E   富山            0.0   0.0       0.001346  0.001346
29  2016-01-19   578E   富山            0.0   0.0       0.000622  0.000622
32  2016-01-19   576E   富山            0.0   0.0       0.001452  0.001452
33  2016-01-19   574E   富山            0.0   0.0       0.001354  0.001354
35  2016-01-19   572E   富山            0.0   0.0       0.000474  0.000474
37  2016-01-19   570E   富山            0.0   0.0       0.000000  0.000000
39  2016-01-19   568E   富山            0.0   0.0       0.000398  0.000398
42  2016-01-19  3502E   富山            0.0   0.0       0.000000  0.000000
43  2016-01-19  9536E   富山            0.0   0.0       0.000000  0.000000
44  2016-01-20   564E   富山            0.0   0.0       0.000000  0.000000

In [38]:
#日ごとのデータ数
train_toyama.groupby(["年月日"]).count()

            列車番号  停車駅名  フェンダー部分(東京方向)  台車部分  フェンダー部分(金沢方向)  合計
年月日
2016-01-19    29    29             29    29             29  29
2016-01-20    29    29             29    29             29  29
2016-01-21    29    29             29    29             29  29
2016-01-22    29    29             29    29             29  29
2016-01-23    29    29             29    29             29  29
2016-01-24    29    29             29    29             29  29
2016-01-25    29    29             29    29             29  29
2016-01-26    29    29             29    29             29  29
2016-01-27    29    29             29    29             29  29
2016-01-28    29    29             29    29             29  29
2016-01-29    29    29             29    29             29  29
2016-01-30    29    29             29    29             29  29
2016-01-31    29    29             29    29             29  29
2016-02-01    29    29             29    29             29  29
2016-02-02    29    29             29    29             29  29
2016-02-03    29    29             29    29             29  29
2016-02-04    29    29             29    29             29  29
2016-02-05    29    29             29    29             29  29
2016-02-06    29    29             29    29             29  29
2016-02-07    29    29             29    29             29  29
2016-02-08    29    29             29    29             29  29
2016-02-09    29    29             29    29             29  29
2016-02-10    29    29             29    29             29  29
2016-02-11    29    29             29    29             29  29
2016-02-12    29    29             29    29             29  29
2016-02-13    29    29             29    29             29  29
2016-02-14    29    29             29    29             29  29
2016-02-15    29    29             29    29             29  29
2016-02-16    29    29             29    29             29  29
2016-02-17    29    29             29    29             29  29
...          ...   ...            ...   ...            ...  ..
2016-12-02    29    29             29    29             29  29
2016-12-03    29    29             29    29             29  29
2016-12-04    29    29             29    29             29  29
2016-12-05    29    29             29    29             29  29
2016-12-06    29    29             29    29             29  29
2016-12-07    29    29             29    29             29  29
2016-12-08    29    29             29    29             29  29
2016-12-09    29    29             29    29             29  29
2016-12-10    29    29             29    29             29  29
2016-12-11    29    29             29    29             29  29
2016-12-12    29    29             29    29             29  29
2016-12-13    29    29             29    29             29  29
2016-12-14    29    29             29    29             29  29
2016-12-15    29    29             29    29             29  29
2016-12-16    29    29             29    29             29  29
2016-12-17    29    29             29    29             29  29
2016-12-18    29    29             29    29             29  29
2016-12-19    29    29             29    29             29  29
2016-12-20    29    29             29    29             29  29
2016-12-21    29    29             29    29             29  29
2016-12-22    29    29             29    29             29  29
2016-12-23    29    29             29    29             29  29
2016-12-24    29    29             29    29             29  29
2016-12-25    29    29             29    29             29  29
2016-12-26    29    29             29    29             29  29
2016-12-27    29    29             29    29             29  29
2016-12-28    29    29             29    29             29  29
2016-12-29    29    29             29    29             29  29
2016-12-30    29    29             29    29             29  29
2016-12-31    29    29             29    29             29  29

[348 rows x 6 columns]

In [39]:
#列車ごとのデータ数
train_itoigawa.groupby(["列車番号"]).count()

       年月日  停車駅名  フェンダー部分(東京方向)  台車部分  フェンダー部分(金沢方向)   合計
列車番号
3500E    1     1              1     1              1    1
3502E    1     1              1     1              1    1
552E   348   348            348   348            348  348
554E   348   348            348   348            348  348
556E   348   348            348   348            348  348
558E   348   348            348   348            348  348
560E   348   348            348   348            348  348
562E   348   348            348   348            348  348
564E   348   348            348   348            348  348
566E   348   348            348   348            348  348
568E   348   348            348   348            348  348
570E   348   348            348   348            348  348
572E   348   348            348   348            348  348
574E   348   348            348   348            348  348
576E   348   348            348   348            348  348
578E   348   348            348   348            348  348
590E   348   348            348   348            348  348
9536E    1     1              1     1              1    1

In [43]:
test = pd.read_csv("test.csv",encoding="shift-jis")
print(test.shape)
test.head()

(2430, 3)

   Unnamed: 0         年月日   列車番号
0           0  2017-01-01  3500E
1           1  2017-01-01   552E
2           2  2017-01-01  3502E
3           3  2017-01-01  9536E
4           4  2017-01-01   554E

In [46]:
#列車ごとのデータ数
test.groupby(["列車番号"]).count()

       Unnamed: 0  年月日
列車番号
3500E          90   90
3502E          90   90
3504E          90   90
3506E          90   90
3508E          90   90
3512E          90   90
3514E          90   90
3516E          90   90
3518E          90   90
552E           90   90
554E           90   90
556E           90   90
558E           90   90
560E           90   90
562E           90   90
564E           90   90
566E           90   90
568E           90   90
570E           90   90
572E           90   90
574E           90   90
576E           90   90
578E           90   90
590E           90   90
8532E          90   90
9536E          90   90
9582E          90   90

In [44]:
set(test["列車番号"])

{'3500E',
 '3502E',
 '3504E',
 '3506E',
 '3508E',
 '3512E',
 '3514E',
 '3516E',
 '3518E',
 '552E',
 '554E',
 '556E',
 '558E',
 '560E',
 '562E',
 '564E',
 '566E',
 '568E',
 '570E',
 '572E',
 '574E',
 '576E',
 '578E',
 '590E',
 '8532E',
 '9536E',
 '9582E'}

In [45]:
set(test["列車番号"]) - set(train["列車番号"])

{'9582E'}

↑のせいで列車番号を特徴量にするのはまずそう